*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:#f8fafc;

}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}